.sidebar {
    position: fixed;
    top: $header-height;
    height: calc(100vh - $header-height);
    left: 0;
    width: $sidebar-width;
    background-color: $white-color;
    box-shadow: $style-shadow;
    overflow-y: auto;

    .menu {
        margin-top: 20px;

        &_item {
            list-style: none;
            color: $text-color;
            font-size: 14px;
            line-height: 50px;
            padding: 0 30px;
            transition: all 0.3s ease;

            &:hover {
                background-color: #fafafa;

                .menu_link {
                    color: $primary-color;
                }
            }

            &.active {
                background-color: #fafafa;
                border-right: 2px solid
                    rgba($color: $primary-color, $alpha: 0.5);

                .menu_link {
                    color: $primary-color;
                }
            }
        }

        &_item.menu_item-title {
            color: #41434d;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 700;
            line-height: 50px;
            user-select: none;
            background-color: $white-color !important;
        }

        &_link {
            color: inherit;
            display: block;
            font-size: inherit;
            line-height: inherit;
            font-weight: 400;
            letter-spacing: 0.2px;
            transition: all 0.3s ease;

            .icon {
                display: inline-block;
                width: 55px;
                text-align: left;
                transition: width 0.2s;
            }
        }
    }
}

.main.active {
    .sidebar {
        width: auto;
        .menu {
            &_item {
                &-title {
                    display: none;
                }
            }

            &_link {
                .icon {
                    width: 30px;
                    font-size: 20px;
                    text-align: center;
                }

                .text {
                    display: none;
                }
            }
        }
    }
}
