$text-color: #607d8b;
$white-color: #fff;
$primary-color: #000;
$bgr-right-panel: #f1f2f7;
$header-height: 55px;
$sidebar-width: 280px;
$style-border-header: 2px solid #e8e9ed;
$style-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
